Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore third-party Content
Content/ParagonMinions
Content/ParagonMuriel
Content/ParagonRevenant
Content/SoulCave
Content/StarterContent

# Temporarily ignored until Git LFS is re-enabled.
Content/HackAndSlash/Levels/LV_Soul_Cave_BuiltData.uasset